doctype html
html
    head
        title JavaScript Application Design: A Build First Approach

        if debug
            link(rel='stylesheet', href='../css/layout.css')
            link(rel='stylesheet', href='../css/home.css')
        else
            link(rel='stylesheet', href='../css/all.css')

    body
        h1
            a.link(href='https://ponyfoo.com/bf', target='_blank') JavaScript Application Design: A Build First Approach aaaccc
        h3.italic Chapter 03, Sample 01

        section.images
            img(src='../img/alpha-covers/Bevacqua_JavaScript1.jpg')
            img(src='../img/alpha-covers/Bevacqua_JavaScript2.jpg')
            img(src='../img/alpha-covers/Bevacqua_JavaScript3.jpg')
        article.sample-description



    That command will just copy the images, without any optimizations.
        if debug
            script(src='../js/foo.js')
            script(src='../js/something.js')
            script(src='../js/something-else.js')
        else
            script(src='../js/all.min.js')
