
    <div class="box thumbnail">
        <div class="photo">
            <img src="http://placehold.it/250x250" alt="Contact photo" />
            <div class="action-bar clearfix">
                <div class="action-buttons pull-right">
                    <button id="delete" class="btn btn-danger btn-xs">delete</button>
                    <button id="view" class="btn btn-primary btn-xs">view</button>
                </div>
            </div>
        </div>
        <div class="caption-container">
            <div class="caption">
                <h5>{{firstname}}</h5>
                <p class="phone no-margin">{{lastname}}</p>
                <p class="email no-margin">{{title}}</p>
                <div class="bottom">
                    <ul class="social-networks">

                        <li>
                            <a href="#" title="Google Drive">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" title="Google Drive">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" title="Github">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
